<div class="container signup">

<%= form_for(@user) do |f| %>

	<%= f.text_field :first_name, :placeholder => "First name", :maxlength => 15 %><br />
	<%= f.text_field :last_name, :placeholder => "Last name", :maxlength => 15 %><br />
	<%= f.email_field :email, :placeholder => "Email", :maxlength => 128 %><br />
	<%= f.password_field :password, :placeholder => "Password", :maxlength => 128 %><br />

	<%= f.submit "SignUp", :class => "btn" %>

<% end %>

</div>
