<!DOCTYPE html>
<html>
  <head>
    <title>Newstand</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,400,500,700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-6 col-md-8 col-lg-6">
            <%= link_to(root_path) do %>
              <h1><span class="dark">n</span>ewstand</h1>
            <% end %>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-6">
            <div class="nav">
              <% if current_user %> 
                <ul> 
                  <li class="block"><%= current_user.email %></li> 
                  <li><%= link_to "Profile", '/profile', :class => 'btn' %></li>
                  <li><%= link_to "Log out", logout_path, :method => "delete", :class => 'btn' %></li> 
                </ul> 
              <% else %> 
                <ul> 
                  <li><%= link_to "Login", '/login', :class => 'btn' %></li> 
                  <li><%= link_to "Signup", '/signup', :class => 'btn' %></li> 
                </ul> 
              <% end %>
            </div>
          </div>
        </div>
               
      </div>
    </header>

    <main>

      <%= yield %>

    </main>

  </body>
</html>
